{{ ansible_managed | comment }}

[Unit]
Description=jmx_exporter_httpserver - Exporter for JVM metrics.
Documentation=https://github.com/prometheus/jmx_exporter
After=network.target

[Service]
User={{ jmx_exporter_httpserver_user }}
Group={{ jmx_exporter_httpserver_group }}
Environment="JVM_OPTIONS=" "OPTIONS="
EnvironmentFile={{ jmx_exporter_httpserver_config_file }}
WorkingDirectory={{ jmx_exporter_httpserver_home }}
ExecStart=/usr/bin/java $JVM_OPTIONS -jar {{ jmx_exporter_httpserver_program }} $OPTIONS
SuccessExitStatus=143

SyslogIdentifier=jmx_exporter_httpserver
Restart=always

[Install]
WantedBy=multi-user.target
