{{ ansible_managed | comment }}

[Unit]
Description=jmx_exporter_httpserver - Exporter for JVM metrics.
Documentation=https://github.com/prometheus/jmx_exporter
After=network.target

[Service]
User={{ jmx_exporter_httpserver_user }}
Group={{ jmx_exporter_httpserver_group }}
Environment="JVM_OPTIONS=" "OPTIONS="
EnvironmentFile={{ jmx_exporter_httpserver_config_file }}
WorkingDirectory={{ jmx_exporter_httpserver_home }}
ExecStart={{ jmx_exporter_httpserver_java_bin }} $JVM_OPTIONS -cp {{ jmx_exporter_httpserver_program ~ (':' ~ jmx_exporter_httpserver_classpath if jmx_exporter_httpserver_classpath is defined else '') }} io.prometheus.jmx.WebServer $OPTIONS
SuccessExitStatus=143

SyslogIdentifier=jmx_exporter_httpserver
Restart=always

[Install]
WantedBy=multi-user.target
